# COLORS
# ==================
# http://www.newsbeuter.org/doc/newsbeuter.html#_configuring_colors
# https://newsboat.org/releases/<VERSION>/docs/newsboat.html#_configuring_colors
# color <element> <foreground color> <background color> [<attribute> ...]
color background          color16   color230
color listnormal          color59   color230
color listfocus           color238  color254
color listnormal_unread   color31   color230  bold
color listfocus_unread    color31   color254 bold
color info                color16   color230  bold
color article             color59   color230
